@use 'rules/includeHome' as inc;

* {@include inc.resetStyles(0, 0, border-box)}

body {
  background-color: inc.$backgroundPageLight;
  color: inc.$backgroundPageDark;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;

  h1 {
    width: 60%;
    margin: 30px auto;
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-align: center;
    border-bottom: 2px solid inc.$numberForValueColor;
    @include inc.textS(inc.$backgroundBoxValue);
  }
}

.dark {
    background-color: inc.$backgroundPageDark;
    color: inc.$lettersColorDark;

  .my-select1, .my-select2 {
    background-color: inc.$backgroundBoxCoins;
  }
}

main {
  padding-top: 100px;
  @include inc.displayFlex(flex, center, center);
  flex-direction: column;
  gap: 20px;

  #selectArea {
    @include inc.displayFlex(flex, center, center);
    gap: 1.7em;
  }

  select {
    width: 100px;
    padding: 15px;
    background-color: inc.$backgroundBoxCoins;
    color: inc.$numberForValueColor;
    font-size: 20px;
    @include inc.textS(inc.$backgroundPageDark)
  }

  .value-for-calculation {
    label {
      font-size: 20px;
      margin: 0 10px;
      @include inc.textS(inc.$backgroundBoxValue);
    }

    input[type=number] {
      width: 60px;
      padding: 6px;
      font-size: 19px;
      background-color: inc.$backgroundBoxValue;
      color: inc.$numberForValueColor;
      @include inc.textS(rgb(7, 7, 116));
    }
  }

}

span {
  font-size: 25px;
  font-weight: bold;
  color: inc.$moneyColor;
  @include inc.textS(rgb(7, 7, 116))
}

article {
  @include inc.displayFlex(flex, center, center);
  .real-exchange-rate-display {
    text-align: center;
    background-color: inc.$backgroundBoxCoins;
    width: 35%;
    height: auto;
    padding: 7px;
  }
}