@use 'rules/includeHome' as inc;

* {@include inc.resetStyles(0, 0, border-box)}

body {
  background-color: inc.$backgroundPageLight;
  color: inc.$backgroundPageDark;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  transition: 0.1s;
}

header {
    padding: 1.2em 0.7em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

    .content-box {
        width: 59%;
        display: flex;
    }

    h1 {
        width: 100%;
        font-size: inc.$fontSh1;
        font-weight: bold;
        @include inc.textS(inc.$backgroundBoxValue);
      }

      .dollar {
        margin-right: 142px;
        width: 70px;
    }

      .theme-change {
        margin: 0 10px;
        width: 90px;
        height: 40px;
        padding: 10px;
        background-color: inc.$backgroundPageDark;
        color: inc.$backgroundPageLight;
        border-radius: inc.$radius;
        border: none;
        font-size: inc.$fontSDefault;
        cursor: pointer;
        &:hover {
            color: inc.$backgroundBoxValue;
            background-color: inc.$backgroundBoxCoins;
        }
    }
}

.dark {
    background-color: inc.$backgroundPageDark;
    color: inc.$lettersColorDark;

  .theme-change {
    background-color: inc.$backgroundPageLight;
    color: inc.$backgroundPageDark
  }

  select {
    background-color: inc.$backgroundBoxValue;
  }

  article {
    .real-exchange-rate-display {
        background-color: inc.$backgroundBoxValue;
    }
  }
}

main {
  padding-top: 70px;
  @include inc.displayFlex(flex, center, center);
  flex-direction: column;
  gap: 0.625em;

  #selectArea {
    @include inc.displayFlex(flex, center, center);
    gap: 1.7em;
  }

  select {
    width: 100px;
    padding: 15px;
    background-color: inc.$backgroundBoxCoins;
    color: inc.$numberForValueColor;
    font-size: inc.$fontS;
    @include inc.textS(inc.$backgroundPageDark);
    border-radius: inc.$radius;
    cursor: pointer;
  }

  .value-for-calculation {
    label {
      font-size: inc.$fontS;
      margin: 0 0.625em;
      cursor: pointer;
      @include inc.textS(inc.$backgroundBoxValue);
    }

    input[type=number] {
      width: 60px;
      padding: 6px;
      font-size: inc.$fontS;
      background-color: inc.$backgroundBoxValue;
      color: inc.$numberForValueColor;
      border-radius: inc.$radius;
      cursor: pointer;
      @include inc.textS(rgb(7, 7, 116));
    }
  }

  .alert-error {
    @include inc.displayFlex(flex, center, center);
    margin: 10px;
    border-radius: inc.$radius;
    padding: 15px;
    width: 90%;
    height: auto;
    background-color: inc.$errorMess;

    .btn-delete-mess {
        background-color: inc.$backgroundBoxCoins;
        width: 30px;
        height: 30px;
        padding: 6px;
        border-radius: inc.$radius;
    }
  }

  .graphic {
    margin: 7px;
    width: 100%;
    max-width: 150px;
    height: 100px;
 }
}

span {
  font-size: inc.$fontS;
  font-weight: bold;
  color: inc.$moneyColor;
  @include inc.textS(rgb(7, 7, 116))
}

article {
  @include inc.displayFlex(flex, center, center);
  .real-exchange-rate-display {
    text-align: center;
    background-color: inc.$backgroundBoxCoins;
    width: 30%;
    height: auto;
    padding: 7px;
  }
}

@media (min-width: 320px) and (max-width: 857px) {
    body {font-size: 1em;}
    header {h1 {font-size: 1.7em; width: 100%;} 
    .theme-change {font-size: 0.7em;}
    .dollar {width: 28px; margin-right: 80px;}}
    main {.value-for-calculation {label {font-size: inc.$fontSDefault;}
    input[type=number] {font-size: inc.$fontSDefault; width: 46px;}}
    select {width: 97%; font-size: inc.$fontSDefault; padding: 11px;}}
    span {font-size: inc.$fontSDefault;}
}

@media (max-width: 777px) {
    header { h1 {font-size: 1.5em;}
    .dollar {display: none;}
 }
}