$backgroundPageDark: #1C1C1C;
$backgroundPageLight: #CDC1C5;
$lettersColorDark: #F0FFFF;
$backgroundBoxCoins: #6495ED;
$backgroundBoxValue: #EEE8AA;
$numberForValueColor: #008B45;
$moneyColor:  #00FF7F;