* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #CDC1C5;
  color: #1C1C1C;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  transition: 0.1s;
}

header {
  padding: 1.2em 0.7em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
header .content-box {
  width: 59%;
  display: flex;
}
header h1 {
  width: 100%;
  font-size: 2.93em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #EEE8AA;
}
header .dollar {
  margin-right: 142px;
  width: 70px;
}
header .theme-change {
  margin: 0 10px;
  width: 90px;
  height: 40px;
  padding: 10px;
  background-color: #1C1C1C;
  color: #CDC1C5;
  border-radius: 0.625em;
  border: none;
  font-size: 1em;
  cursor: pointer;
}
header .theme-change:hover {
  color: #EEE8AA;
  background-color: #6495ED;
}

.dark {
  background-color: #1C1C1C;
  color: #F0FFFF;
}
.dark .theme-change {
  background-color: #CDC1C5;
  color: #1C1C1C;
}
.dark select {
  background-color: #EEE8AA;
}
.dark article .real-exchange-rate-display {
  background-color: #EEE8AA;
}

main {
  padding-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.625em;
}
main #selectArea {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.7em;
}
main select {
  width: 100px;
  padding: 15px;
  background-color: #6495ED;
  color: #008B45;
  font-size: 1.26em;
  text-shadow: 1px 1px 1px #1C1C1C;
  border-radius: 0.625em;
  cursor: pointer;
}
main .value-for-calculation label {
  font-size: 1.26em;
  margin: 0 0.625em;
  cursor: pointer;
  text-shadow: 1px 1px 1px #EEE8AA;
}
main .value-for-calculation input[type=number] {
  width: 60px;
  padding: 6px;
  font-size: 1.26em;
  background-color: #EEE8AA;
  color: #008B45;
  border-radius: 0.625em;
  cursor: pointer;
  text-shadow: 1px 1px 1px rgb(7, 7, 116);
}
main .alert-error {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border-radius: 0.625em;
  padding: 15px;
  width: 90%;
  height: auto;
  background-color: #d82b2b;
}
main .alert-error .btn-delete-mess {
  background-color: #6495ED;
  width: 30px;
  height: 30px;
  padding: 6px;
  border-radius: 0.625em;
}
main .graphic {
  margin: 7px;
  width: 100%;
  max-width: 150px;
  height: 100px;
}

span {
  font-size: 1.26em;
  font-weight: bold;
  color: #00FF7F;
  text-shadow: 1px 1px 1px rgb(7, 7, 116);
}

article {
  display: flex;
  align-items: center;
  justify-content: center;
}
article .real-exchange-rate-display {
  text-align: center;
  background-color: #6495ED;
  width: 30%;
  height: auto;
  padding: 7px;
}

@media (min-width: 320px) and (max-width: 857px) {
  body {
    font-size: 1em;
  }
  header h1 {
    font-size: 1.7em;
    width: 100%;
  }
  header .theme-change {
    font-size: 0.7em;
  }
  header .dollar {
    width: 28px;
    margin-right: 80px;
  }
  main .value-for-calculation label {
    font-size: 1em;
  }
  main .value-for-calculation input[type=number] {
    font-size: 1em;
    width: 46px;
  }
  main select {
    width: 97%;
    font-size: 1em;
    padding: 11px;
  }
  span {
    font-size: 1em;
  }
}
@media (max-width: 777px) {
  header h1 {
    font-size: 1.5em;
  }
  header .dollar {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
